/* START OF NAVBAR */

.my_menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.my_menu li a {
  text-decoration: none;
  cursor: default;
}
.my_header {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  /* padding: 15px; */
}

.social_icons{
  list-style: none;
  /* text-align: right; */
  float: right;

}
.social_icons li{
  display: inline-flex;
  margin: 5px 3px -10px 5px;
  /* padding: 0px 5px 0px 10px; */
  
  
}


.social_icons li a i{
  color: #ffffff;
  border-radius: 50%;
  padding: 8px 10px 0px 8px;
  font-size: 15px;
  transition: 0.3s ease;
 
}


/* .social_icons li a i:hover{
  
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255,0.4);
  
} */

.my_header-main {  
  background-color: rgba(255, 255, 255,0.3);
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-radius: 4px;
  transition: 0.3s ease;
  min-height: 90px;
}
.my_header .my_logo {
  padding: 0 130px;
}
.my_header .my_logo a {
  font-size: 30px;
  text-transform: capitalize;
  color: #077e7a;
  font-weight: 600;
}
.my_header .my_nav-menu {
  padding: 0 15px;
}
.my_header .my_menu > .my_menu-item {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}
.my_header .my_menu > .my_menu-item > a {
  display: block;
  padding: 12px 0;
  font-size: 20px;
  /* color: rgb(223, 213, 213); */
  color: #000 !important;
  text-transform: capitalize;
  /* font-weight: 600; */
  transition: all 0.3s ease;
}

.my_sub-menu li a{
  color: #000 !important;
}

.my_sub-menu li a:hover{
  color: #077e7a !important;
}

/* .my_header .my_menu > .my_menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.my_header .my_menu > .my_menu-item > a .plus:before,
.my_header .my_menu > .my_menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #000000;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.my_header .my_menu > .my_menu-item:hover > a .plus:before,
.my_header .my_menu > .my_menu-item:hover > a .plus:after{
   background-color: #e91e63;
}
.my_header .my_menu > .my_menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
} */

.my_arrow_down {
  transition: all 0.3s ease;
}

.my_header .my_menu > .my_menu-item:hover > a .my_arrow_down {
  /* background-color: #e91e63; */
  transform: rotate(180deg);
  /* color: #000; */
}

.my_header .my_menu > .my_menu-item > .my_sub-menu > .my_menu-item > a:hover,
.my_header .my_menu > .my_menu-item:hover > a {
  color: #077e7a;
}
.my_header .my_menu > .my_menu-item > .my_sub-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255,255,255,0.8);
  /* backdrop-filter: blur(15px) !important; */
  width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  /* background-color: transparent; */
  padding: 10px 0;
  /* border-top: 3px solid #e91e63; */
  border-top: 3px solid #077e7a;
  
  transform: translateY(10px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 992px) {
  .my_header .my_menu > .my_menu-item-has-children:hover > .my_sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .my_header .my_menu > .my_menu-item-has-children:hover > a .my_arrow_down {
    /* transform: translate(-50%,-50%) rotate(0deg);		 */
    transform: rotate(180deg);
  }
}
.my_header .my_menu > .my_menu-item > .my_sub-menu > .my_menu-item {
  display: block;
}
.my_header .my_menu > .my_menu-item > .my_sub-menu > .my_menu-item > a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
.my_header .my_open-nav-menu {
  height: 34px;
  width: 40px;
  margin-right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.my_open-nav-menu i.fas{
	color: #ffffff;
	font-size: 25px;
}
/* .my_header .my_open-nav-menu span {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #ffffff;
  position: relative;
} */
/* .my_header .my_open-nav-menu span:before,
.my_header .my_open-nav-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
} */
/* .my_header .my_open-nav-menu span:before {
  top: -7px;
}
.my_header .my_open-nav-menu span:after {
  top: 7px;
} */
.my_header .my_close-nav-menu {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 0 15px 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}
.my_header .my_close-nav-menu img {
  width: 16px;
}
.my_header .my_menu-overlay {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  .my_header .my_menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .my_header .my_nav-menu {
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    background-color: #222222;
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }
  .my_header .my_nav-menu.open {
    visibility: visible;
    right: 0px;
  }
  .my_header .my_menu > .my_menu-item {
    display: block;
    margin: 0;
  }
  .my_header .my_menu > .my_menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .my_header .my_menu > .my_menu-item > a {
    color: #ffffff;
    padding: 12px 15px;
    border-bottom: 1px solid #333333;
  }
  .my_header .my_menu > .my_menu-item:first-child > a {
    border-top: 1px solid #333333;
  }
  .my_header .my_menu > .my_menu-item > a .plus:before,
  .my_header .my_menu > .my_menu-item > a .plus:after {
    background-color: #ffffff;
  }
  .my_header .my_menu > .my_menu-item-has-children.active > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .my_header .my_menu > .my_menu-item > .my_sub-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }
  .my_header .my_menu > .my_menu-item > .my_sub-menu > .my_menu-item > a {
    padding: 12px 45px;
    color: #ffffff;
    border-bottom: 1px solid #333333;
  }
  .my_header .my_close-nav-menu,
  .my_header .my_open-nav-menu {
    display: flex;
  }
}

/* END OF NAVBAR */

/* OWL CAROUSEL  */

/* .carousel-inner img {
    object-fit: fill;
    width: 100%;
    height:100vh;
  }*/
*,
body {
  margin: 0;
  padding: 0;
  /* overflow-x:hidden; */
}

.my_banner-item {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.my_banner-item:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.my_banner-data {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  text-align: center;
}
.my_banner-data h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 70px;
}

.my_banner-data p {
  color: #fff;
  background-color: #3498db;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 0px 10px;
  font-size: 20px;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-dots {
  display: none;
}

/* TESTIMONIAL  */

.my_testimonial_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background: linear-gradient(110deg, #fc6a6a, #ffc69d 100%);
  /* margin-top: 200px; */
}

.my_testimonial {
  position: relative;
  width: 800px;
  min-width: 350px;
  min-height: 250px;
  padding-bottom: 40px;
  overflow: hidden;
}

.my_wrapper {
  width: 300%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}

.my_card {
  width: 800px;
  min-height: 100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 5px 10px;
}

.my_card-thumb {
  width: 70%;
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}

.my_client-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.my_client-name {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px 20px;
  background: #fff;
  text-transform: capitalize;
  font-size: 14px;
}

.my_card-body {
  width: 120%;
  min-height: 100%;
  height: auto;
  margin-left: 20px;
  position: relative;
  padding-bottom: 50px;
}

.my_review {
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
}

.my_indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.my_indicators button {
  background: none;
  border: none;
  outline: none !important;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.5s;
}

.my_indicators button.active {
  width: 40px;
  border-radius: 50px;
  background: #fff;
}

@media (max-width: 800px) {
  .my_testimonial_outer {
    width: 50%;
    margin: auto;
  }
  .my_card {
    flex-direction: column;
  }
  .my_card-thumb {
    width: 100%;
    border-radius: 10px;
  }
  .my_card-body {
    width: 100%;
    min-height: auto;
    margin-left: 0;
  }
}

/* FOR ANIMATION ON SCROLL OF DIVS */

.animated_div {
  background-color: coral;
  padding: 7px;
  margin: 15px;
  min-height: 400px;
}

/* PARALLAX EFFECT */

.my_bgimg-1,
.my_bgimg-2,
.my_bgimg-3 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my_bgimg-1:before,
.my_bgimg-2:before,
.my_bgimg-3:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}

.my_bgimg-1 {
  background-image: url("../images/2.jpg");
  min-height: 100%;
}

.my_bgimg-2 {
  background-image: url("../images/2.jpg");
  min-height: 400px;
}

.my_bgimg-3 {
  background-image: url("../images/3.jpg");
  min-height: 400px;
}

.my_caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.my_caption span.my_border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .my_bgimg-1,
  .my_bgimg-2,
  .my_bgimg-3 {
    background-attachment: scroll;
  }
}

/* FOOTER CSS */

#google_map {
  height: 300px;
}

.footer {
  background: #152f4f;
  color: white;
  width: 100%;
}

.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .location i {
  font-size: 18px;
}

.footer .links {
  font-size: 12px;
}

.footer .links ul {
  list-style-type: none;
}

.footer .links li a {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s;
}

.footer .links li a:hover {
  text-decoration: none;
  cursor: default;
  color: #ffffff;
}

.footer .about-company i {
  font-size: 25px;
}

.footer .about-company h2 {
  color: white;
  transition: color 0.2s;
}

.footer .about-company a:hover {
  color: #4180cb;
}
@media screen and (max-width: 767px) {
  #google_map {
    height: 200px;
  }

  #map_div {
    padding-top: 20px;
    /* padding:10px; */
  }
}

/* NOTICE BOARD */

.my_notice_board_icon{
	padding:2px 15px;
	background-color: #fb8d1f;
	border: 1px solid #000;
	transition: 0.5s ease;
}

.my_notice_board_icon:hover{
	background-color: #d85a0c !important;

}

.my_notice_board{
  position: relative;
  margin:0 0 0 -100px;
  width: 100%;
}

.my_notice_board_content{
  background-color: #f0f0f0;
  height: 170px;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  overflow:hidden;
}


@media screen and (max-width:575px){
  .my_notice_board{
    margin: 0px;
  }
  .my_notice_board_parent{
    padding: 10px 10px !important;

  }
  .my_notice_board_content{
    /* box-shadow: none; */
    /* border: 1px solid #777777; */
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  }
}


/* FOR IMAGE GALLERY */

.gallery_container{
  position: relative;
  width: 100%;
  height:200px;

}
.my_gallery_image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  

}
.gallery_container:hover .my_gallery_image{
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%) !important;
}
.gallery_container .my_gallery_image:hover{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}

.my_gallery_heading:after{
  content : "";
  position: absolute;
  left    : 15px;
  /* bottom  : 0; */
  top: 60px;
  height  : 1px;
  width   : 25%;  /* or 100px */
  border-bottom:3px solid rgb(201, 44, 16);
}

